<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/style.css"
    <script src="../public/index.js" defer></script>
</head>

<body>
    <%- include('nav') %>

    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Welcome to My Tech Blog</h1>

            <div class="has-text-centered mt-5">
                <button onclick="toggleModal()" class="button is-primary is-rounded">Add New Article</button>
            </div>

            <div class="has-text-centered mt-5">
                <button onclick="openAddCategoryModal()" class="button is-primary is-rounded">Add New Category</button>
            </div>

            <%- include('addArticleModal') %>
            <%- include('editPostModal') %>
            <%- include('addCategoryModal') %>
            <%- include('editCategoryModal') %>

            <div id="categoryList" class="has-text-centered mt-6 category-labels">
                <h2 class="title is-3">All Categories</h2>
                <span class="tag is-primary category-label">#5g</span>
                <span class="tag is-primary category-label">#devices</span>
                <span class="tag is-primary category-label">#ai</span>
                <span class="tag is-primary category-label">#greenenergy</span>
            </div>

            <div id="latestPosts" class="has-text-centered mt-6">
                <h2 class="title is-3">Latest Articles</h2>
                <div class="columns is-multiline is-centered">
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">Article about 5G Technology</p>
                                <p>Explore the revolutionary world of 5G technology and its impact on communication and connectivity.</p>
                                <p>Author: John Doe</p>
                                <p>Date: November 12, 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">Article on Devices of the Future</p>
                                <p>Discover the cutting-edge devices that are shaping the future of technology and innovation.</p>
                                <p>Author: Jane Smith</p>
                                <p>Date: November 12, 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">Article about AI</p>
                                <p>Unveiling the transformative impact and applications of Artificial Intelligence in various industries and everyday life.</p>
                                <p>Author: Alex Johnson</p>
                                <p>Date: November 12, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="has-text-centered mt-6">
                <img src="/assets/geometric.jpg" alt="Geometric Image" style="max-width: 100%; height: auto;" />
            </div>
        </div>
    </section>

    <%- include('footer') %>

    <div id="modal" class="modal">
        <div class="modal-background" onclick="toggleModal()"></div>
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add New Article</p>
                    <button class="delete" aria-label="close" onclick="toggleModal()"></button>
                </header>
                <section class="modal-card-body">
                    <form onsubmit="submitForm(event)">
                        <div class="field">
                            <label class="label">Category</label>
                            <div class="control">
                                <div class="select">
                                    <select id="categorySelect">
                                        <option value="Internet">Internet</option>
                                        <option value="AI">AI</option>
                                        <option value="Green Tech">Green Tech</option>
                                        <option value="Future Devices">Future Devices</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Author</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter your name" id="authorInput" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Subject</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter the article subject" id="subjectInput" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Article</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Enter your article" id="articleInput" required></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                                <button type="button" class="button is-link is-light" onclick="toggleModal()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <div id="addCategoryModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h2 class="title is-4 has-text-centered">Add New Category</h2>
                <form id="addCategoryForm" onsubmit="submitCategoryForm(event)">
                    <div class="field">
                        <label class="label">Category Name</label>
                        <div class="control">
                            <input class="input" type="text" id="categoryName" placeholder="Enter category name" required>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered mt-4">
                        <div class="control">
                            <button type="submit" class="button is-primary">Add Category</button>
                        </div>
                        <div class="control">
                            <button type="button" class="button is-danger" onclick="closeAddCategoryModal()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeAddCategoryModal()"></button>
    </div>

    <script>
        async function fetchCategories() {
            try {
                const response = await fetch('/api/categories');
                const categories = await response.json();
                const categoryList = document.getElementById('categoryList');
                categoryList.innerHTML = '<h2 class="title is-4">Categories</h2>';
                categories.forEach(category => {
                    categoryList.innerHTML += `<span class="tag is-primary category-label">#${category.name}</span>`;
                });
            } catch (error) {
                console.error(error);
            }
        }
    
        async function fetchLatestPosts() {
            try {
                const response = await fetch('/api/posts/latest');
                const posts = await response.json();
                const latestPosts = document.getElementById('latestPosts');
                latestPosts.innerHTML = '<h2 class="title is-4">Latest Posts</h2>';
                posts.slice(0, 3).forEach(post => {
                    latestPosts.innerHTML += `<div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">${post.title}</p>
                                <p>${post.shortDescription}</p>
                                <p>Author: ${post.author}</p>
                                <p>Date: ${post.publicationDate}</p>
                            </div>
                        </div>
                    </div>`;
                });
            } catch (error) {
                console.error(error);
            }
        }
    
        const addCategoryForm = document.getElementById('addCategoryForm');
        addCategoryForm.addEventListener('submit', async function (event) {
            event.preventDefault();
            const categoryName = document.getElementById('categoryName').value;
            console.log('Category Name:', categoryName);
            closeAddCategoryModal();
            try {
                const response = await fetch('/api/categories', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name: categoryName })
                });
                if (response.ok) {
                    fetchCategories(); // Refresh the categories after adding a new one
                } else {
                    throw new Error('Failed to add category');
                }
            } catch (error) {
                console.error(error);
            }
        });
    
        document.addEventListener('DOMContentLoaded', () => {
            fetchCategories();
            fetchLatestPosts();
        });
    
        function toggleModal() {
            const modal = document.getElementById('modal');
            modal.classList.toggle('is-active');
        }
    
        function submitForm(event) {
            event.preventDefault();
            const category = document.getElementById('categorySelect').value;
            const author = document.getElementById('authorInput').value;
            const subject = document.getElementById('subjectInput').value;
            const article = document.getElementById('articleInput').value;
    
            const articlesContainer = document.querySelector('.is-multiline');
            const newArticle = document.createElement('div');
            newArticle.classList.add('column', 'is-half');
            newArticle.innerHTML = `
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">${subject}</p>
                        <p>${article}</p>
                        <p>Author: ${author}</p>
                    </div>
                </div>
            `;
            articlesContainer.prepend(newArticle);
    
            toggleModal();
        }
    
        function openAddCategoryModal() {
            const modal = document.getElementById('addCategoryModal');
            modal.classList.add('is-active');
        }
    
        function closeAddCategoryModal() {
            const modal = document.getElementById('addCategoryModal');
            modal.classList.remove('is-active');
        }
    </script>
    
    
</body>

</html>
